@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
.login {
    background-color: #030305;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.loginContainer {
    font-family: 'Raleway', sans-serif;
    padding: 100px;
    min-width: 30vw;
    min-height: 45vh;
    text-align: center;
    background-color: #1C2530;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 2em;
    box-shadow: 0 2px 2px whitesmoke, 0 2px;
}

.loginContainer>img {
    object-fit: contain;
    margin-bottom: 40px;
}

.loginContainer>h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loginContainer>button {
    border-radius: 30px !important;
    padding: 10px;
    margin-top: 50px;
    letter-spacing: 3px;
    text-transform: inherit !important;
    color: whitesmoke;
    font-weight: bold !important;
    font-family: 'Raleway', sans-serif !important;
    background-color: #FC888C!important;
}